{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block body %}

<div class="container">
    <h1><img src="{{ url_for('static', filename='img/shopping-cart.png') }}" alt="cart-icon" class="img-icon">Checkout Cart</h1>

    <input type="button" value="Resume Checkout 🛒" class="res-switch active" onclick="modifyCart()">
    <input type="button" value="Modify Cart 🖊" class="mod-switch active" onclick="modifyCart()">

    <a style="float: right;" href="{{ url_for('.index') }}">Go back ⬅</a>

    <div class="main-cart">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table class="u-full-width">
                <caption>Cart Items</caption>
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Purchase Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for row in cart_rows %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.purchase_quantity }}</td>
                            <td>NGN {{ '{:,}'.format(row.sub_total) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Total = NGN {{ '{:,}'.format(cart_total) }}</h3>

            <div class="center-button">
                <input type="submit" class="confirm active" value="confirm checkout">
            </div>

            {% for categ, msg in get_flashed_messages(with_categories=True) %}
            <div class="flash">
                <li style="list-style: none;" class="{{ categ }}">{{ msg }}</li>
            </div>
            {% endfor %}
        </form>
    </div>
    
    <div class="mod-cart" style="display: none;">
        <form method="POST" class="mod-cart">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table class="u-full-width">
                <caption>Cart Items</caption>
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Purchase Quantity</th>
                        <th>Subtotal</th>
                        <th><svg fill="#000000" viewBox="0 0 16 16" width="20px" height="20px"><path d="M 6.496094 1 C 5.675781 1 5 1.675781 5 2.496094 L 5 3 L 2 3 L 2 4 L 3 4 L 3 12.5 C 3 13.324219 3.675781 14 4.5 14 L 10.5 14 C 11.324219 14 12 13.324219 12 12.5 L 12 4 L 13 4 L 13 3 L 10 3 L 10 2.496094 C 10 1.675781 9.324219 1 8.503906 1 Z M 6.496094 2 L 8.503906 2 C 8.785156 2 9 2.214844 9 2.496094 L 9 3 L 6 3 L 6 2.496094 C 6 2.214844 6.214844 2 6.496094 2 Z M 4 4 L 11 4 L 11 12.5 C 11 12.78125 10.78125 13 10.5 13 L 4.5 13 C 4.21875 13 4 12.78125 4 12.5 Z M 5 5 L 5 12 L 6 12 L 6 5 Z M 7 5 L 7 12 L 8 12 L 8 5 Z M 9 5 L 9 12 L 10 12 L 10 5 Z"/></svg></th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in cart_rows %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.purchase_quantity }}</td>
                            <td>{{ '{:,}'.format(row.sub_total) }}</td>
                            <td><input type="checkbox" name="remove_item" value="{{ row.id }}"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="center-button">
                <input type="submit" class="delete remove" value="remove" style="float: right;">
            </div>
        </form>
    </div>
</div>

{% endblock %}
