{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block body %}

<div class="container">
    <h1><img src="{{ url_for('static', filename='cart.png') }}" alt="cart-icon" class="img-icon">Checkout Cart</h1>

    <input type="button" value="Modify Cart 🖊" class="mod-switch active">
    <input type="button" value="Resume Checkout 🛒" class="res-switch active">

    <a style="float: right;" href="{{ url_for('.index') }}">Go back ⬅</a>

    <div class="main-cart">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table class="u-full-width">
                <caption>Cart Items</caption>
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Purchase Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for row in cart_rows %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.purchase_quantity }}</td>
                            <td>NGN {{ '{:,}'.format(row.sub_total) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Total = NGN {{ '{:,}'.format(cart_total) }}</h3>

            <div class="center-button">
                <input type="submit" class="confirm active" value="confirm checkout">
            </div>

            {% for categ, msg in get_flashed_messages(with_categories=True) %}
            <div class="flash">
                <li style="list-style: none;" class="{{ categ }}">{{ msg }}</li>
            </div>
            {% endfor %}
        </form>
    </div>
    
    <div class="mod-cart" style="display: none;">
        <form method="POST" class="mod-cart">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table class="u-full-width">
                <caption>Cart Items</caption>
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Purchase Quantity</th>
                        <th>Subtotal</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in cart_rows %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.purchase_quantity }}</td>
                            <td>{{ '{:,}'.format(row.sub_total) }}</td>
                            <td><input type="checkbox" name="remove_item" value="{{ row.id }}"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="center-button">
                <input type="submit" class="delete remove" value="remove" style="float: right;">
            </div>
        </form>
    </div>
</div>

<script>
    function modifyCart() {
        var mainCart = document.querySelector('.main-cart')
        var modCart = document.querySelector('.mod-cart')

        if(event.target.classList.contains('mod-switch')) {
            modCart.setAttribute('style', 'display: block;')
            mainCart.setAttribute('style', 'display: none;')
        } else {
            modCart.setAttribute('style', 'display: none;')
            mainCart.setAttribute('style', 'display: block;')
        }
    }

    var modSwitch = document.querySelector('.mod-switch')
    var resSwitch = document.querySelector('.res-switch')
    modSwitch.addEventListener('click', modifyCart)
    resSwitch.addEventListener('click', modifyCart)
</script>

{% endblock %}
