{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="menu">
    <a href="{{ url_for('main.index') }}" class="menu-item btn active">Store Home</a>
    <a href="{{ url_for('main.create_item') }}" class="menu-item btn">Create New Item</a>
    <a href="{{ url_for('main.restock') }}" class="menu-item btn">Restock Items</a>
    <a href="{{ url_for('main.manage_items') }}" class="menu-item btn">Inventory</a>
</div>

<hr>

<div class="container">
    <h1>Store Front</h1>

    <div class="center-button">
        <input type="text" onkeyup="search()" placeholder="Search for an item..." id="searchBtn">
    </div>
    
    <table class="u-full-width">
        <caption>Add items to cart</caption>
        <thead>
            <tr>
                <th style="width: 10%;">ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Available Stock</th>
                <th style="width: 15%;">Purchase Quantity</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
            <tr class="item-row {{ item.name }}">
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <td><input type="text" name="id" value="{{ item.id }}" style="width: 100%;" readonly></td>
                    <td class="item-name">{{ item.name }}</td>
                    <td>NGN {{ '{:,}'.format(item.price) }}</td>

                    {% if item.low_stock and not item.sold_out %}
                    <td class="misc">{{ item.stock }}</td>
                    {% elif item.sold_out %}
                    <td style="font: small-caps;" class="error">SOLD OUT</td>
                    {% else %}
                    <td>{{ item.stock }}</td>
                    {% endif %}

                    {% if item.sold_out %}
                    <td><input type="number" style="width: 100%;" value="0" name="quantity" disabled></td>
                    <td><input type="submit" class="confirm active" value="Add" disabled></td>
                    {% else %}
                    <td><input type="number" style="width: 100%;" value="0" name="quantity"></td>
                    <td><input type="submit" class="confirm active" value="Add"></td>
                    {% endif %}
                </form>
            </tr>
            {% endfor %}
        </tbody>

        {% for categ, msg in get_flashed_messages(with_categories=True) %}
        <div class="flash">
            <li style="list-style: none;" class="{{ categ }}">{{ msg }}</li>
        </div>
        {% endfor %}
    </table>

    <h3>
        <a href="{{ url_for('main.cart') }}" class="menu-item cart" style="color: black; text-decoration: none;">
            <img src="{{ url_for('static', filename='img/cart.png') }}" alt="cart-icon" class="img-icon">
            Checkout ➡
        </a>
    </h3>
    
</div>

{% endblock %}