{% extends "base.html" %}

{% block title %}Manage{% endblock %}

{% block body %}

<div class="menu">
    <a href="{{ url_for('main.index') }}" class="menu-item button">Store Home</a>
    <a href="{{ url_for('main.create_item') }}" class="menu-item button">Create New Item</a>
    <a href="{{ url_for('main.restock') }}" class="menu-item button">Restock Items</a>
    <a href="{{ url_for('main.manage_items') }}" class="menu-item button button-primary">Inventory</a>
</div>

<div class="container u-full-width">
    <h1>Inventory Management</h1>
    {% if items != [] %}
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Available Stock</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>NGN {{ '{:,}'.format(item.price) }}</td>
                    <td>{{ item.stock }}</td>
                    <td><input class="pointer" type="checkbox" name="item" value="{{ item.id }}"></td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
        <input type="submit" value="Delete Items">

        {% for categ, msg in get_flashed_messages(with_categories=True) %}
        <div class="flash">
            <li style="list-style: none;" class="{{ categ }}">{{ msg }}</li>
        </div>
        {% endfor %}
    </form>
    {% else %}
    <h3>No items yet! <a href="{{ url_for('main.create_item') }}">Create a new item</a> and see it appear here.</h3>
    {% endif %}
</div>

{% endblock %}