{% extends "base.html" %}

{% block title %}Manage Inventory{% endblock %}

{% block body %}

<div class="menu">
    <a href="{{ url_for('main.index') }}" class="menu-item btn"><svg fill="#000000" viewBox="0 0 32 32" width="32px" height="32px"><path fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="2" d="M3 17L16 4 29 17"/><path fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="2" d="M6 14L6 27 13 27 13 17 19 17 19 27 26 27 26 14"/></svg>Store Front</a>

    <a href="{{ url_for('main.create_item') }}" class="menu-item btn"><svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32" width="32px" height="32px"><path d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 15 10 L 15 15 L 10 15 L 10 17 L 15 17 L 15 22 L 17 22 L 17 17 L 22 17 L 22 15 L 17 15 L 17 10 Z"/></svg>Create New Item</a>

    <a href="{{ url_for('main.restock') }}" class="menu-item btn"><svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32" width="32px" height="32px"><path d="M 23.90625 3.96875 C 22.859375 3.96875 21.8125 4.375 21 5.1875 L 5.1875 21 L 5.125 21.3125 L 4.03125 26.8125 L 3.71875 28.28125 L 5.1875 27.96875 L 10.6875 26.875 L 11 26.8125 L 26.8125 11 C 28.4375 9.375 28.4375 6.8125 26.8125 5.1875 C 26 4.375 24.953125 3.96875 23.90625 3.96875 Z M 23.90625 5.875 C 24.410156 5.875 24.917969 6.105469 25.40625 6.59375 C 26.378906 7.566406 26.378906 8.621094 25.40625 9.59375 L 24.6875 10.28125 L 21.71875 7.3125 L 22.40625 6.59375 C 22.894531 6.105469 23.402344 5.875 23.90625 5.875 Z M 20.3125 8.71875 L 23.28125 11.6875 L 11.1875 23.78125 C 10.53125 22.5 9.5 21.46875 8.21875 20.8125 Z M 6.9375 22.4375 C 8.136719 22.921875 9.078125 23.863281 9.5625 25.0625 L 6.28125 25.71875 Z"/></svg>Restock Items</a>

    <a href="{{ url_for('main.manage_items') }}" class="menu-item btn active"><svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" width="32px" height="32px"><path d="M 7.5 1 C 3.917969 1 1 3.917969 1 7.5 C 1 11.082031 3.917969 14 7.5 14 C 11.082031 14 14 11.082031 14 7.5 C 14 3.917969 11.082031 1 7.5 1 Z M 7.5 2 C 10.542969 2 13 4.457031 13 7.5 C 13 10.542969 10.542969 13 7.5 13 C 4.457031 13 2 10.542969 2 7.5 C 2 4.457031 4.457031 2 7.5 2 Z M 7 4 L 7 5 L 8 5 L 8 4 Z M 7 6 L 7 11 L 8 11 L 8 6 Z"/></svg>Inventory</a>
</div>

<hr>

<div class="container u-full-width">
    <h1>Inventory Management</h1>

    <div class="center-button">
        <input type="text" onkeyup="search()" placeholder="Search for an item..." id="searchBtn">
    </div>

    {% for categ, msg in get_flashed_messages(with_categories=True) %}
    <div class="flash">
        <li style="list-style: none;" class="{{ categ }}">{{ msg }}</li>
    </div>
    {% endfor %}

    <input type="button" value="Modify Items 🖊" class="modify-btn active" onclick="modifyItems()">
    <input type="button" value="Remove Items 🚮" class="remove-btn active" onclick="modifyItems()">

    {% if items == [] %}
    <h3>Inventory is empty 😟 <a href="{{ url_for('main.create_item') }}">Create a new item</a> and see it appear here.</h3>

    {% else %}

    <div class="remove-items" style="display: none;">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Available Stock</th>
                        <th></th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for item in items %}
                    <tr class="item-row {{ item.name }}">
                        <td>{{ item.name }}</td>
                        <td>NGN {{ '{:,}'.format(item.price) }}</td>
                        <td>{{ item.stock }}</td>
                        <td><input class="pointer" type="checkbox" name="delete" value="{{ item.id }}"></td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>

            <div class="center-button">
                <input type="submit" value="Delete Items" class="delete remove">
            </div>
        </form>
    </div>


    <div class="modify-items">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th style="width: 10%;">ID</th>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th style="width: 15%;">Available Stock</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                <tr class="item-row {{ item.name }}">
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        <td><input type="text" style="width: 100%;" name="item_id" value="{{ item.id }}" readonly></td>
                        <td><input type="text" value="{{ item.name }}" readonly></td>
                        <td>NGN <input type="text" name="modded_price" value="{{ item.price }}"></td>
                        <td><input type="number" style="width: 100%;" name="modded_stock" value="{{ item.stock }}"></td>
                        <td><input type="submit" value="Apply" class="confirm active"></td>
                    </form>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>    
    {% endif %}
</div>

{% endblock %}