{% extends "base.html" %}

{% block title %}Manage{% endblock %}

{% block body %}

<div class="menu">
    <a href="{{ url_for('main.index') }}" class="menu-item btn">Store Home</a>
    <a href="{{ url_for('main.create_item') }}" class="menu-item btn">Create New Item</a>
    <a href="{{ url_for('main.restock') }}" class="menu-item btn">Restock Items</a>
    <a href="{{ url_for('main.manage_items') }}" class="menu-item btn active">Inventory</a>
</div>

<hr>

<div class="container u-full-width">
    <h1>Inventory Management</h1>

    <div class="center-button">
        <input type="text" onkeyup="search()" placeholder="Search for an item..." id="searchBtn">
    </div>

    <input type="button" value="Modify Items 🖊" class="modify-btn active" onclick="modifyItems()">
    <input type="button" value="Remove Items 🚮" class="remove-btn active" onclick="modifyItems()">

    {% if items == [] %}
    <h3>Inventory is empty :( <a href="{{ url_for('main.create_item') }}">Create a new item</a> and see it appear here.</h3>

    {% else %}

    <div class="remove-items">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Available Stock</th>
                        <th></th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for item in items %}
                    <tr class="item-row {{ item.name }}">
                        <td>{{ item.name }}</td>
                        <td>NGN {{ '{:,}'.format(item.price) }}</td>
                        <td>{{ item.stock }}</td>
                        <td><input class="pointer" type="checkbox" name="item" value="{{ item.id }}"></td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>

            <div class="center-button">
                <input type="submit" class="delete remove" value="Delete Items">
            </div>
            
        </form>
    </div>

    <div class="modify-items" style="display: none;">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Available Stock</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><input type="text" value="{{ item.id }}" readonly></td>
                        <td><input type="text" value="{{ item.name }}"></td>
                        <td>NGN <input type="number" value="{{ item.price }}"></td>
                        <td><input type="number" value="{{ item.stock }}"></td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>

            <div class="center-button">
                <input type="submit" class="confirm active" value="Apply Changes">
            </div>
        </form>
    </div>    
    {% endif %}
</div>

{% endblock %}